html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: sans-serif;
}

.info-container{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 1;
    width: 33px;
    height: 33px;
    text-align: center;
    opacity: 0.2;
}

.info-container:hover {
    scale: 1.2;
    opacity: 1;
}

.info-box {
    /* display: flex; */
    position: absolute;
    right: 10px;
    top: 40px;
    text-align: center;
    z-index: 1;
    background-color: white;
    /* padding: 1rem; */
    max-width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.5rem;
}
.info-box a {
    text-decoration: none;
    color: blue;
}

.info-box p {
    margin: 0;
    color: black;
    /* outline: 1px solid red; */
    text-transform: uppercase;
    font-weight: bold;
}

.loader {
    top: 10%;
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #000000;
    background: -moz-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
    background: -webkit-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
    background: -o-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
    background: -ms-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
    background: linear-gradient(to right, #000000 10%, rgba(0,0,0, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #000000;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  